body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fontSize{
    font-size: 24px;
}

.calculator{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.screen {
    margin: 20px 20px 0px 20px;
    flex:1;
    text-justify: auto;
    font-size: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding:8px 4px 8px 4px;
}

.screen p{
    word-wrap: break-word;
}

.keypad{
    display: flex;
    flex-direction: row;
    margin:4px;
    flex:4;
    
}

.numpad{
    display: flex;
    flex-direction: column;
    flex: 3;
    margin :8px;

}

.numrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.zeroBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.numrow li{
    flex: 1;
    margin: 4px;
    background-color: seagreen;
}

.numpad div{ 
    flex:2;
    margin:4px;
}

.operators{
    flex: 1;
    margin :8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.operators li{
    flex: 1;
    margin :8px;
    background-color:lightseagreen;
}

.addBorder{
    border: solid thin;
    border-color: black;
}

ul{
    padding: 0px;
}

li{
    list-style-type: none;
    border: solid thin;
    border-color: black;
    display:flex;
    justify-content: center;
    align-items: center;
}

li:hover,.zeroBtn:hover{
    background-color:lightgray;
}

