body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fontSize{
    font-size: 24px;
}

.calculator{
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    background-color: aliceblue;
}

.screen {
    margin: 20px;
    height: 70px;
    flex-basis: 20%;
    font-size: 32px;
    background-color: white;
    padding:8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.screen div{
    word-wrap: break-word;
    flex-basis: 50%;
}

.keypad{
    display: flex;
    flex-direction: row;
    margin:4px;
    flex-basis: 80%;
    
}

.numpad{
    display: flex;
    flex-direction: column;
    flex: 3;
    margin :8px;

}

.numrow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
}

.zeroBtn{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.numrow li{
    flex: 1;
    margin: 4px;
    background-color:bisque;
}

.numpad div{ 
    flex:2;
    margin:4px;
}

.operators{
    flex: 1;
    margin :8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.operators li{
    flex: 1;
    margin :8px;
    background-color:darksalmon;
}

.addBorder{
    border: solid medium;
}

ul{
    padding: 0px;
}

li{
    list-style-type: none;
    border: solid medium;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

li:hover,.zeroBtn:hover{
    background-color:lightgray;
}

